<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>event donor</title>
  </head>
  <body>
    <h1>REST API DBLOODS APP</h1>
    <p>created by: Imam Ramadhan</p>
    <h3>endpoint :</h3>
    <p>https://dbloods.herokuapp.com/api/event</p>
    <p>https://dbloods.herokuapp.com/api/informasi</p>
  </body>
</html>
